.menu{
    width: 100%;
    padding: 28px 8%;
    top: 0;
    background-color: black;
    position: sticky;
    z-index: 3;
}
.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar .btn-padrao{
    color: white;
}
.nav-logo{
    color: var(--color-primary-3);
    font-size: 25px;
}
.nav-logo span{
    color: var(--color-neutra-0);
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 48px;
}
.nav-link{
    text-decoration: none;
    color: var(--color-neutra-0);
    font-weight: 600;
    font-size: 15px;
}
.nav-link:hover{
    transform: scale(1.05);
    transition: 0.2s;
}
.nav-item a:hover{
    color: var(--color-primary-2);
    border-bottom: 3px solid var(--color-primary-2);
}
.mobile_btn, .mobile_menu{
    display: none;    
}
@media screen and (max-width:1170px){
    .nav-list, .nav-bar, .btn-padrao{
        display: none;
    }
    .mobile_btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 2px;
    }
    .mobile_nav_list .nav-item{
        list-style: none;
        text-align: center;
    }
}