#rodape{
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 0px;
}
.cta-buttons-rodape{
    margin-top: 8px;
    justify-content: center;
}
.cta-buttons-rodape{
    align-items: center;
    display: flex;
    gap: 24px;
}
.cta-buttons-rodape .btn-padrao{
    color: var(--color-neutra-0);
    
}
.cta-buttons-rodape a{
    color: var(--color-neutra-1);
}
footer .email p a{
    color: var(--color-neutra-0);
    text-decoration: none;
    text-align: center;
}